.nav_bar_main {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background: lightcoral;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navlinks_navbar {
  display: flex;
  gap: 20px;
  align-items: center;
}

.nav_link_items {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  margin: 0px;
}

.menu_icon {
  display: none;
  color: white;
  cursor: pointer;
}

.mobile_nav {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  background: lightcoral;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  transition: left 1s ease;
  z-index: 999;
  top: 65px;
}

.mobile_nav.open {
  left: 0;
  top: 65px;
}

.mobile_nav_links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.mobile_nav_links a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.mobile_nav_links button {
  margin-top: 20px;
  background: white;
  color: lightcoral;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

.logout_button_navbar{
  width: 150px;
  padding: 10px;
  border-radius: 8px;
  background-color: rgba(192, 110, 177, 0.3);
  border: 1px solid rgba(192, 110, 177, 0.3);
  color: #fcfcfc;
  font-weight: 600;
  font-size: 20px;
  transition: 1s;
}

.logout_button_navbar:hover{
  background-color: #fcfcfc;
  color: rgba(192, 110, 177, 0.3);
  border: 1px solid rgba(192, 110, 177, 0.3);
}

.navbar_logo{
  padding: 10px;
  border-radius: 50%;
  background-color: #fcfcfc;
}

/* 🔹 RESPONSIVE STYLES */
@media only screen and (max-width: 500px) {

    .nav_bar_main{
        display: none;
    }
  .navlinks_navbar {
    display: none;
  }
  .menu_icon {
    display: flex;
    background: lightcoral;
    height: 70px;
    align-items: center;
    padding: 10px;
    /* z-index: 9; */
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
  }
}
