.all_blogs_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    gap: 20px;
}

.blog_content{
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    align-items: center;
    width: 40%;
}

.read_more_button{
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    transition: 1s;
    background-color: rgb(192, 110, 177);
    color: #fff;
    border: 1px solid rgb(192, 110, 177);
}

.allBlog_image{
    width: 90%;
    height: 500px;
    border-radius: 8px;
    border: 2px solid rgb(192, 110, 177);
    box-shadow: 0px 0px 3px rgba(192, 110, 177, 0.3);
}

.model_class{
    display: flex !important;
    justify-content: center !important;
    padding: 40px 0px !important;
}

.modal-dialog{
  max-width: none !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 70% !important;
}

.all_blogs_model_image{
    width: 70%;
    border-radius: 8px;
    border: 2px solid rgb(192, 110, 177);
    box-shadow: 0px 0px 3px rgba(192, 110, 177, 0.3);
    height: 650px;
}

.allBlogs_model_body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.blog_title_all_blogs{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}

.all_blogs_content_para{
    width: 100%;
    text-align: left;
    font-size: 20px;
}

.author_name_all_blogs{
    display: flex;
    align-items: center;
    border: 1px solid rgb(192, 110, 177);
    padding: 10px;
    border-radius: 8px;
    gap: 10px;
    background-color: rgb(192, 110, 177);
    color: #fff;
}

.authorNameIcon{
    color: #fff;
    font-size: 15px
}

.authorAndCreatedAtDiv{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

@media only screen and (max-width:500px) {
    .blog_content{
        width: 100%;
        padding: 10px;
    }

    .allBlog_image{
        width: 100%;
    }

    .modal-dialog{
        width: 100% !important;
    }

    .all_blogs_model_image{
        width: 100%;
        height: auto;
    }
}
