.my_bloc_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 40px 0px;
}

.my_posts_container{
    width: 40%;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    align-items: center;
    border-radius: 8px;
}

.my_blog_image{
    width: 90%;
    /* height: 500px; */
    border-radius: 8px;
    border: 2px solid rgb(192, 110, 177);
    box-shadow: 0px 0px 3px rgba(192, 110, 177, 0.3);
}

.myblogbuttoncontainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.modal_class_myblogs{
    display: flex !important;
    justify-content: center !important;
    padding: 40px 0px !important;
}

.delete_button_myblogs{
    width: 100px;
    padding: 10px;
    border-radius: 8px;
    background-color: rgba(192, 110, 177, 0.3);
    color: #fcfcfc;
    border: 1px solid rgba(192, 110, 177, 0.3);
    font-weight: bold;
    transition: 1s;
}

.delete_button_myblogs:hover{
    background-color: #fcfcfc;
    color: rgba(192, 110, 177, 0.3);
    border: 1px solid rgba(192, 110, 177, 0.3);
}

@media only screen and (max-width:500px) {
    .my_posts_container{
        width: 100%;
    }

    .my_blog_image{
    width: 100%;
}

.modal_class_myblogs{
    width: 100% !important;
}
}