.newPoste_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 30%;
    padding: 20px;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
}

.newPosts_label_input{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.newPosts_form_button{
    width: 150px;
    padding: 10px;
    border-radius: 8px;
    transition: 1s;
    background-color: rgb(192, 110, 177);
    color: #fff;
    border: 1px solid rgb(192, 110, 177);
}

.newPosts_form_button:hover{
    background-color: inherit;
    border: 1px solid rgb(192, 110, 177);
    color: rgb(192, 110, 177);
}

.newPosts_form_inputs{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
}

@media only screen and (max-width:500px) {
    .newPoste_form{
        width: 100%;
    }

}